# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/
*.log

# OS files
.DS_Store
Thumbs.db

# Sensitive info
*.env
*.secret
